* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

body {
    background-color: #0E192D;
}

.navBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0E192D;
    margin: 20px;
}

.navBar ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navBar li {
    list-style: none;
}

.navBar-links li a {
    text-decoration: none;
    color: white;
    padding: 1rem;
    display: block;
}

.navBar-links a:hover {
    transition: 0.3s ease;
    color: #F9B828;
}

.toggle-button {
    position: absolute;
    top: 25px;
    right: 20px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 8px;
}

@media (max-width: 850px) {
    .toggle-button {
        display: flex;
    }

    .navBar-links {
       display: none;
       width: 100%;
    }

    .navBar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navBar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navBar-links li {
        text-align: center;
    }

    .navBar-links li a {
        padding: .5rem 1rem;
    }

    .navBar-links.active { 
        display: flex;
    }

    /* BRADS CODE */
    .navBar {
        position: relative;
    }

    .navBar-links.active {
        position: absolute;
        top: 110%;
        width: 100vw;
        margin-left: -20px;
        background-color: #0E192D;
    }

    .navBar-links li {
        border-bottom: 1px solid white;
    }

    .navBar-links li:first-child {
        border-top: 1px solid white;
    }

    .profilePicture img {
        width: 401px;
        height: 435px;
    }
}

.landingPage {
    display: flex;
    margin-top: 5vh;
    justify-content: center;
    /* background-color: red; */
}

.landingPageContents {
    display: flex;
    /* background-color: red; */
    max-width: 1300px;

}

.skills {
    display: flex;
    font-style: italic;
    color: hwb(41 16% 2%);
    margin-top: 1vh;
}

.skills li {
    list-style: none;
    margin-right: 20px;
}

.skills li:last-child {
    margin-right: 0px;
}

svg rect:hover {
    fill: #F9B828;
}

.gitHubIcon {
    margin-right: 1vw;
}

.gitHubIcon svg g path:hover {
    fill: #F9B828;
}

.linkedInIcon svg g path:hover {
    fill: #F9B828;
}

.socialMediaIcons {
    display: flex;
    margin-top: 2vh;
}

.bottomPageText p {
    color: white;
}

.bottom {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.gitHubIcon svg, .linkedInIcon svg {
    width: 40px;
    height: 40px;
}

.introductionTextSection {
    color: white;
    margin-right: 30px;
}

.myName {
    font-size: 70px;
}

.introductionTextSection p {
    font-size: 25px;
}

.introductionTextSection p:first-child {
    color: white;
}

.bio {
    margin-top: 2vh;
}

#designPortfolioHyperlink {
    text-decoration: none;
    color: #F9B828;
}

#designPortfolioHyperlink:hover {
    text-decoration: underline;
    color: #F9B828;
}

@media (max-width: 1250px) {
    .landingPage {
        margin-left: 2vw;
        margin-right: 2vw;
    }
    .landingPageContents {
        display: block;
        /* max-width: 75%; */
    }

    .profilePicture {
        margin-top: 2vh;
    }

    .introductionTextSection h1 {
        font-size: 50px;
    }

    .introductionTextSection p {
        font-size: 17.5px;
    }

   
}
